.score
.statedb
exc
tbears.log

config/euljiro/keystores
config/euljiro/score_address.txt

config/mainnet/keystores
config/mainnet/score_address.txt

config/yeouido/keystores
config/yeouido/score_address.txt

config/localhost/score_address.txt

__pycache__/

*.code-workspace
setup.cfg
venv
.vscode

logs
rc.log